
    <div class="edit-task form-group">
      {{input type="text" class="form-control" value=model.title }} </div>
    <button {{action 'editTask' model.id}} class="add-task-btn btn btn-outline-secondary">שמור</button>