
    <div class="add-new-task form-group">
      {{input type="text" class="form-control" value=title placeholder="הוסף משימה חדשה..."}} </div>
    <button {{action 'addTask'}} class="add-task-btn btn btn-outline-secondary">שמור</button>